[submodule "deps/ckb-c-stdlib"]
	path = deps/ckb-c-stdlib
	url = https://github.com/nervosnetwork/ckb-c-stdlib
[submodule "deps/compiler-builtins"]
	path = deps/compiler-builtins
	url = https://github.com/nervosnetwork/compiler-rt-builtins-riscv
